#map {
		height: 100%;
		min-height: 400px;
        border-radius: 5px;
      }
      /* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        margin: 0;
				padding: 0;
				font-family: 'Roboto', sans-serif;
			}
			
.titleCard{
	font-size: 30px;
	text-align: center;
	padding: 10px;
	opacity: 50%;
	margin-bottom: 30px;
	margin-top: 30px;
}
      
.card {
	background-color: #489CAA;
	width: 80%;
	margin: 0 auto;
	border-radius: 7px;
	
}
.head {
	background-color: #489CAA;
	margin: 10px 10px 0;
	border-radius: 7px;
	align-items: center;
	display: flex;
	flex-direction: column;
    padding : 10px;
    margin-bottom: 30px;
}

aside {
	margin: 10px 1.4%;
	background-color: white;
}

.cardDetails {
	display: flex;
	background-color: #489CAA;
	margin: 10px;
	border-radius: 7px;
	font-size: 20px;
    padding: 10px;
}

.details {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
    color: white;
}

.container {
	background-color: #489CAA;
	display: flex;
	margin: 10px 10px 0;
	border-radius: 7px;
    padding : 10px;
    color: white;
    margin-bottom: 30px;
}

.map {
	flex: 1;
    border-radius: 5px;
}

.graph {
	flex: 1;
    border-radius: 5px;
}

.userInput {
	height: 30px;
	width: 300px;
	font-size: 100%;
	display: flex;
	font-style: italic;
	border-radius: 7px;
    margin: 5px;
    border: white;
    padding: 5px;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3A3E42;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 600px) {
	.container {
		flex-direction: column;
	}

	.cardDetails {
		flex-direction: column;
		background-color: #90CAF9;
		margin: 10px;
		border-radius: 7px;
        color: white;
        padding: 10px;
        margin-bottom: 30px;

	}

	.details {
		align-items: flex-start;
		padding-left: 10px;
        color: white;
	}

}

.button{
	border-radius: 8px;
	height: 45px;
	width: 45px;
	background-color:white;
    border:white;
	font-size: 20px;
	margin: 10px;
}

::value{
	opacity:0.5;
}
