#map {
				height: 100%;
				min-height: 200px;
      }
      /* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        margin: 0;
				padding: 0;
				font-family: 'Roboto', sans-serif;
			}
			
.titleCard{
	font-size: 20px;
	text-align: center;
}
      
.card {
	background-color: #90CAF9;
	width: 80%;
	margin: 0 auto;
	border-radius: 7px;
}
.head {
	background-color: #90CAF9;
	margin: 10px 10px 0;
	border-radius: 7px;
	align-items: center;
}

aside {
	margin: 10px 1.4%;
	background-color: #aaaaaa;
}

.cardDetails {
	display: flex;
}

.details {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container {
	display: flex;
}

.map {
	flex: 1;
}

.graph {
	flex: 1;
}

@media only screen and (max-width: 600px) {
	.container {
		flex-direction: column;
	}

	.cardDetails {
		flex-direction: column;
	}

	.details {
		align-items: flex-start;
		padding-left: 10px;
	}

}

.button{
	border-radius: 8px;
	height: 50px;
	width: 100px;
	background-color: #E3F2FD;
	font-size: 30px;

}